---
import Icon from "/repo/Portfolio/src/components/Icon.astro";
/* TODO -> Alterar ... para buscar na mesma pasta*/
---

<section id="about" class="min-h-screen flex flex-col justify-evenly">
    <div class="rounded-lg p-2 bg-[#F6F8FA]
                dark:bg-gray-900 dark:text-white ">
        <h1 class="">Olá, sou Pedro Kalva Jr</h1>
        <h3>Vou criar um website para seu negócio.</h3>
    </div>

    <div class="rounded-lg p-2 bg-[#F6F8FA]	
                dark:bg-gray-900 dark:text-white">
        <label>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
        </label>
    </div>

    <div class="skills flex flex-row space-x-10">
        <Icon path="Icons/html_css.png" title="Html&CSS"/>
        <Icon path="Icons/Csharp.png" title="C#"/>
        <Icon path="Icons/js.png" title="JS"/>
        <Icon path="Icons/react.png" title="React"/>
        <Icon path="Icons/wordpress.png" title="Wordpress"/>
        <Icon path="Icons/php.png" title="PHP"/>
        <Icon path="Icons/sql.png" title="SQL"/>
    </div>
</section>
