---
import Skills from '../components/Skills.astro'
---
<section id="about" class="px-36 min-h-screen bg-[#F6F8FA] flex flex-col justify-evenly
                        dark:bg-[#15294B] dark:text-white">
    
    <div class="h-1/5">
        <Skills/>
    </div>
    <div class="h-1/3">
        For six years, I have immersed myself in the world of web development, driven by a profound passion for technology. 
        I have gained invaluable experience working in companies, refining my skills and knowledge. 
        Outside of my professional endeavors, I engage in exercising and boxing, cultivating discipline and focus. 
        As a first-time father, I have learned the art of balance and adaptability. 

        Residing in Florianopolis, Brazil, I am blessed with a serene environment that fuels my creativity. 
        Now open to freelance projects, I am eager to contribute my expertise and creativity to your next venture.
    </div>

    <div class="h-1/5">
        <button class="hover:border-dotted">Download resume</button>
    </div>

</section>