---
import Skills from '../components/Skills.astro'
---
<script type="text/javascript">
    function downloadResume() 
    {
        const downloadLink = document.createElement('a');
        downloadLink.href = 'Files/Pedro_KalvaJunior_Resume.pdf';
        downloadLink.download = 'KalvaResume.pdf';
        downloadLink.click();
    }
</script> 
    
<section id="about" class="px-36 bg-[#DEE4E7] flex flex-col
                        dark:bg-[#15294B] dark:text-white">
    
    <div class="pt-8">
        <Skills/>
    </div>
    <div class="py-16">
        <p>
            For six years, I have immersed myself in the world of web development, driven by a profound passion for technology. 
            I have gained invaluable experience working in companies, refining my skills and knowledge. 
            Outside of my professional endeavors, I engage in exercising and boxing, cultivating discipline and focus. 
            As a first-time father, I have learned the art of balance and adaptability. 
        </p>
        <br/>    
        <p>
            Residing in Florianopolis, Brazil, I am blessed with a serene environment that fuels my creativity. 
            Now open to freelance projects, I am eager to contribute my expertise and creativity to your next venture.
        </p>
    </div>

    <div class="pb-8">
        <button onclick="downloadResume()" class="bg-[#23806A] hover:bg-[#20D19E] text-white font-bold py-2 px-4 rounded-full inline-flex items-center space-x-2">
            <span>Download resume</span> <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
        </button>
    </div>

</section>