---
import Skills from '../components/Skills.astro'
---
<section id="about" class="px-36 min-h-screen bg-[#F6F8FA] dark:bg-[#15294B] dark:text-white py-10">
    
    <Skills/>
    <div class="">
        For six years, I have immersed myself in the world of web development, driven by a profound passion for technology. 
        I have gained invaluable experience working in companies, refining my skills and knowledge. 
        Outside of my professional endeavors, I engage in exercising and boxing, cultivating discipline and focus. 
        As a first-time father, I have learned the art of balance and adaptability. 

        Residing in Florianopolis, Brazil, I am blessed with a serene environment that fuels my creativity. 
        Now open to freelance projects, I am eager to contribute my expertise and creativity to your next venture.
    </div>

    <div class="w-1/6">
        <button>Download resume</button>
    </div>

</section>