---
import Icon from "/repo/Portfolio/src/components/Icon.astro";
/* TODO -> Alterar ... para buscar na mesma pasta*/
---

<section id="about" class="flex flex-col min-h-screen pt-24 bg-[#F6F8FA]">
    <div class="flex flex-row">
        <div class="ml-12 mr-12">
            <div class="rounded-lg p-2 bg-[#F6F8FA] py-5 px-2
                    dark:bg-gray-900 dark:text-white ">
                <h1 class="">Olá, sou Pedro Kalva Jr</h1>
                <h3>Vou criar um website para seu negócio.</h3>

                <label>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of type
                  and scrambled it to make a type specimen book.
                </label>           
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-items-center mt-10">
                <Icon path="Icons/html_css.png" title="Html&CSS"/>
                <Icon path="Icons/Csharp.png" title="C#"/>
                <Icon path="Icons/js.png" title="JS"/>
                <Icon path="Icons/react.png" title="React"/>
                <Icon path="Icons/wordpress.png" title="Wordpress"/>
                <Icon path="Icons/php.png" title="PHP"/>
                <Icon path="Icons/sql.png" title="SQL"/>
            </div>
        </div>

       <div class="mr-12">
            <img src="images/rocket.png" alt="Website building" />
        </div>
    </div>   
</section>
