---
import Icon from "/repo/Portfolio/src/components/Icon.astro";
/* TODO -> Alterar ... para buscar na mesma pasta*/
---

<section id="hero" class="min-h-screen flex place-items-center flex-row bg-[#F6F8FA] dark:bg-gray-950 dark:text-white">
        <div class="mx-12 w-2/4  border-2 border-[#30CADD] rounded-lg">
            <div class="py-5 px-2">
                <h1 class="font-bold text-4xl text-center text-[#FC6623]" >Pedro Kalva Jr</h1>
                <h3 class="pt-2 text-xl text-center text-[#ff9566]"> Vamos decolar o seu negócio </h3>
            </div>
         
            <div class="py-8">   
                <div>
                    <h1 class="font-semibold mt-2 text-xl text-center text-[#FC6623]"> Skills </h1>
                </div>    
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-items-center mt-6">        
                    <Icon path="Icons/html_css.png" title="Html&CSS"/>
                    <Icon path="Icons/Csharp.png" title="C#"/>
                    <Icon path="Icons/js.png" title="JS"/>
                    <Icon path="Icons/react.png" title="React"/>
                    <Icon path="Icons/wordpress.png" title="Wordpress"/>
                    <Icon path="Icons/sql.png" title="SQL"/>
                </div>
            </div>
        </div>

       <div class="w-2/4 flex place-items-center">
            <img class="w-5/6" src="images/dev.png" alt="Success" />
        </div> 
</section>
