---
import Card from '../components/Card.astro'
---

<section id="projects" class="min-h-screen bg-[#F6F8FA] dark:bg-[#091E42] dark:text-white ">
    <div class="grid grid-cols-2 gap-4">
        <Card/>
        <Card/>
        <Card/>
        <Card/>
    </div>
</section>