---
import Icon from "/repo/Portfolio/src/components/Icon.astro";
---

<div class="justify-items-center flex flex-row space-x-4">        
    <Icon path="Icons/html_css.png" title="Html&CSS"/>
    <Icon path="Icons/Csharp.png" title="C#"/>
    <Icon path="Icons/js.png" title="JS"/>
    <Icon path="Icons/react.png" title="React"/>
    <Icon path="Icons/wordpress.png" title="Wordpress"/>
    <Icon path="Icons/sql.png" title="SQL"/>
</div>
    
