---
import Particles from "astro-particles"
import dark from '../particles/dark.json';
import light from '../particles/light.json';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script>
	/*
    import { tsParticles } from "tsparticles-engine";
    import { loadFull } from "tsparticles";
	import dark from '../particles/dark.json' assert {type: 'json'};
	import light from '../particles/light.json' assert {type: 'json'};

    (async () => {
        await loadFull(tsParticles);
    })();
	*/

	const darkModeToggle = document.getElementById('darkModeToggle');
	const darkModeClass = 'dark';
	const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

	// Verificar a preferência do usuário ao carregar a página
	const storedDarkMode = localStorage.getItem('darkMode');
	if (storedDarkMode === 'true' || (storedDarkMode !== 'false' && prefersDarkMode)) {
	  enableDarkMode();
	}

	darkModeToggle.addEventListener('click', () => {
  		const isDarkMode = document.documentElement.classList.contains(darkModeClass);

  		if (isDarkMode) {
    		disableDarkMode();
  		} else {
   			enableDarkMode();
  		}
  		localStorage.setItem('darkMode', (!isDarkMode).toString());	
	});

	function enableDarkMode() {
  		document.documentElement.classList.add(darkModeClass);
  		//tsParticles.load(tsParticles, dark);
	}

	function disableDarkMode() {
  		document.documentElement.classList.remove(darkModeClass);
	  	//tsParticles.load(tsParticles, light);
	}
</script>


<!DOCTYPE html>
<html lang="pt">
	<head>
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>			
		<div>
			<header>
				<nav class="fixed bg-[#24292F] w-screen h-16 text-white dark:bg-gray-900">
					<div class="flex flex-row">
						<div class="pl-5 py-3 w-1/12 ">
							<a href="#about">
								<img src="logo/png/logo-no-background.png"/>
							</a>
						</div>
					
						<div class="basis-3/4 self-center flex justify-center space-x-10 text-base">
							<a class="hover:text-[#FC6623] text-[#ff9566]" href="#about">Sobre</a>
							<a class="hover:text-[#FC6623] text-[#ff9566]" href="#experience">Experiencia</a>
							<a class="hover:text-[#FC6623] text-[#ff9566]" href="#portfolio">Portfolio</a>
							<a class="hover:text-[#FC6623] text-[#ff9566]" href="#contact">Contato</a>
						</div>

						<div class="basis-1/4 self-center flex flex-row space-x-5" >
							<button id="darkModeToggle" class="flex justify-center w-8 h-8 rounded-full bg-gray-200 dark:bg-gray-800"/>
							<select name="Language" class="text-gray-950">
								<option selected value="pt-br">PT</option>
								<option selected value="pt-br">EN</option>
							</select>
							<button class="rounded-full bg-[#FC6623] px-3 text-black">Me Contrate</button>
						</div>
					</div>			
		  		</nav>			
			</header>
		<!-- 
		<Particles id="tsparticles" options={light} />
		-->
		</div>	
		<div class="">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		font-family: 'Inter', sans-serif; }
		@supports (font-variation-settings: normal) {
  			:root { font-family: 'Inter var', sans-serif; }
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;	
		color: rgb(0 0 0);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
