---
import Particles from "astro-particles"
import dark from '../particles/dark.json';
import light from '../particles/light.json';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script>
	/*
    import { tsParticles } from "tsparticles-engine";
    import { loadFull } from "tsparticles";
	import dark from '../particles/dark.json' assert {type: 'json'};
	import light from '../particles/light.json' assert {type: 'json'};

    (async () => {
        await loadFull(tsParticles);
    })();
	*/

	const darkModeToggle = document.getElementById('darkModeToggle');
	const darkModeClass = 'dark';
	const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

	// Verificar a preferência do usuário ao carregar a página
	const storedDarkMode = localStorage.getItem('darkMode');
	if (storedDarkMode === 'true' || (storedDarkMode !== 'false' && prefersDarkMode)) {
	  enableDarkMode();
	}

	darkModeToggle.addEventListener('click', () => {
  		const isDarkMode = document.documentElement.classList.contains(darkModeClass);

  		if (isDarkMode) {
    		disableDarkMode();
  		} else {
   			enableDarkMode();
  		}
  		localStorage.setItem('darkMode', (!isDarkMode).toString());	
	});

	function enableDarkMode() {
  		document.documentElement.classList.add(darkModeClass);
		var img = document.getElementById('darkModeToggle');
		if (img instanceof HTMLImageElement) {
			img.src = 'Icons/light-mode.png';
      	}
  		//tsParticles.load(tsParticles, dark);
	}

	function disableDarkMode() {
  		document.documentElement.classList.remove(darkModeClass);
		  var img = document.getElementById('darkModeToggle');
		if (img instanceof HTMLImageElement) {
			img.src = 'Icons/night-mode.png';
      	}
	  	//tsParticles.load(tsParticles, light);
	}
</script>


<!DOCTYPE html>
<html lang="pt">
	<head>
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>			
		<div>
			<header>
				<nav class="fixed bg-[#000000] w-screen h-16 text-white">
					<div class="flex flex-row">
						<div class="pl-5 py-5">
							<a href="#hero">
								<h1 class="text-2xl font-bold hover:text-[#20D19E]"> Kalva </h1>
							</a>
						</div>
					
						<div class="basis-3/4 self-center flex justify-center space-x-10 text-base">
							<a class="hover:text-[#20D19E] text-[#FFFFFF]" href="#hero">Home</a>
							<a class="hover:text-[#20D19E] text-[#FFFFFF]" href="#about">About me</a>
							<a class="hover:text-[#20D19E] text-[#FFFFFF]" href="#projects">Projects</a>
							<a class="hover:text-[#20D19E] text-[#FFFFFF]" href="#contact">Contact</a>
						</div>

						<div class="basis-1/4 self-center flex flex-row space-x-5" >
							<img id="darkModeToggle" src="Icons/night-mode.png"  class="w-10 cursor-pointer" />
							<select name="Language" class="text-gray-950">
								<option selected value="pt-br">PT</option>
								<option selected value="pt-br">EN</option>
							</select>
							<button class="bg-[#23806A] hover:bg-[#20D19E] text-white font-bold py-2 px-4 rounded-full">
								Hire me
							</button>
						</div>
					</div>			
		  		</nav>			
			</header>
		<!-- 
		<Particles id="tsparticles" options={light} />
		-->
		</div>	
		<div class="">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		font-family: 'Inter', sans-serif; }
		@supports (font-variation-settings: normal) {
  			:root { font-family: 'Inter var', sans-serif; }
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;	
		color: rgb(0 0 0);
	}
</style>
