---
import Particles from "astro-particles"
import options from '../particles/particles.json';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script>
    import { tsParticles } from "tsparticles-engine";
    import { loadFull } from "tsparticles";

    (async () => {
        await loadFull(tsParticles);
    })();
</script>

<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>		
		<div class="flex place-content-around align-middle h-10 mt-4">
			<nav class="space-x-5">
				<a href="#about">Sobre</a>
				<a href="#experience">Experiencia</a>
				<a href="#portfolio">Portfolio</a>
				<a href="#contact">Contato</a>
		  	</nav>

			<div>
				
			</div>
		</div>
		
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
		scroll-behavior: smooth;		
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
